
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="container">
    <section class="py-5 bg-light" style="margin-top:40px; margin-bottom:40px">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">About Us</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row gy-3 bg-light" style="margin-bottom:20px; line-height: 2; text-align: left; padding: 30px 150px 30px 150px;">
            <h5>About SHE & HE Online Store</h5>
            <p>
                At SHE & HE, we are passionate about providing high-quality bags and watches for our customers. With a commitment to style, durability, and affordability, we aim to meet the diverse needs of our customers.

                Our mission is to offer a seamless online shopping experience, ensuring you have access to a wide range of stylish products. We understand the importance of fashion and functionality, and our products reflect these values.

                What sets us apart is our dedication to customer satisfaction. We strive to exceed your expectations by offering top-notch customer support and secure, convenient payment options.

                Thank you for choosing SHE & HE. We look forward to serving you and delivering products that make a difference in your daily life.
            </p>
        </div>
    </div>
</div>


