
@{
    ViewData["Title"] = "AvailableServices";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="container">
    <section class="py-5 bg-light" style="margin-top: 40px; margin-bottom: 40px">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Our Services</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row gy-3 bg-light" style="margin-bottom: 20px; line-height: 2; text-align: left; padding: 30px 150px 30px 150px;">
            <h5>Our Services</h5>
            <p>
                At SHE & HE Online Store, we offer a range of services to enhance your shopping experience and provide you with the best possible products and support. Our services include:<br /><br />

                <strong>1. Wide Product Selection:<br /></strong> We provide a wide range of bags and watches to meet your style and functionality needs.<br /><br />

                <strong>2. Secure Payment Options:<br /></strong> We accept various payment methods, including credit cards, debit cards, and other online payment options, to ensure your transactions are safe and convenient.<br /><br />

                <strong>3. Fast and Reliable Delivery:<br /></strong> We offer estimated delivery times during the checkout process, and we make every effort to ensure your orders arrive promptly.<br /><br />

                <strong>4. Hassle-Free Returns and Refunds:<br /></strong> We have a clear return policy for your convenience, and eligible refunds are processed in accordance with our refund policy.<br /><br />

                <strong>5. Privacy and Security:<br /></strong> We respect your privacy and use industry-standard security measures to protect your personal information and online transactions.<br /><br />

                <strong>6. Quality Customer Support:<br /></strong> Our dedicated customer support team is here to assist you with any questions, concerns, or issues you may have.<br /><br />

                We are committed to providing quality products and exceptional services to our valued customers.<br />Thank you for choosing SHE & HE.
            </p>
        </div>
    </div>
</div>


