@{
    ViewData["Title"] = "Coupon";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="container">

    <section class="py-5 bg-light" style="margin-top:40px; margin-bottom:40px">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Coupons</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Coupons</li>
                        </ol>
                    </nav>
                </div>
            </div>

    </section>
    @{
        if (@ViewBag.Coupon.Count == 0)
        {
            <section class="py-5 bg-light" style="text-align:center; height: 250px; margin-bottom: 30px;">
                <div class="container">
                    <h5 style=" padding-top: 65px">
                        There are currently no coupons
                    </h5>
                </div>
            </section>

        }
        else
        {
            <div class="row text-center gy-3" style="margin-bottom:20px;">
                @foreach (var item in @ViewBag.Coupon)
                {
                    <div class="col-md-6 mb-3 ">
                        <div class="coupon p-3 bg-light">
                            <div class="row no-gutters">
                                <div class="col-md-4 border-right">
                                    <div class="d-flex flex-column align-items-center">
                                        <img width="100px" src="~/images/percentage.png" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <div class="d-flex flex-row justify-content-end off">
                                            <h1>@item.DiscountValue %</h1>
                                            <span>OFF</span>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between off px-3 p-2">
                                            <span>Promo code:</span>
                                            <span class="border border-success px-3 rounded code">@item.CouponCode</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>

        }
        
   }

</div>

